<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'slider1.jpg', :class => 'img-responsive' %>
      <div class="carousel-caption">
        Welcome to Pizza Heaven
      </div>
    </div>
    <div class="item">
      <%= image_tag 'slider2.jpg', :class => 'img-responsive' %>
      <div class="carousel-caption">
        The Best Pizzerias in the World
      </div>
    </div>
    <div class="item">
      <%= image_tag 'slider3.jpg', :class => 'img-responsive' %>
      <div class="carousel-caption">
        The Very Best
      </div>
    </div>
    <div class="item">
      <%= image_tag 'slider4.jpg', :class => 'img-responsive' %>
      <div class="carousel-caption">
        Prepared by the Best
      </div>
    </div>    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<!-- Google Maps Multiple Markers Index 
See http://stackoverflow.com/questions/3059044/google-maps-js-api-v3-simple-multiple-marker-example -->

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1 class="text-center">All Locations</h1>
  <div id="map" style="width: 840px; height: 400px;"></div>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script type="text/javascript">
    var locations = [
      <% @places.each do |place| %>
        <% if place == @places.last %>
        ['<%= link_to place.name, place_path(place) %> (<%= place.avg_rating %>)<br/><%= place.description %><br/><br/>Most recent review:<br/>"<%= place.comments.last.message %>"-<%= place.comments.last.user.email %>', <%= place.latitude %>, <%= place.longitude %>, 4]
        <% else %>
        ['<%= link_to place.name, place_path(place) %> (<%= place.avg_rating %>)<br/><%= place.description %><br/><br/>Most recent review:<br/>"<%= place.comments.last.message %>"-<%= place.comments.last.user.email %>', <%= place.latitude %>, <%= place.longitude %>, 4],
        <% end %>
      <% end %>
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: new google.maps.LatLng(39.442592, -92.793955),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map,
        icon: '/assets/pizza.png'
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>

</div>

<% @places.each do |place| %>
  <div class="booyah-box col-xs-10 col-xs-offset-1">
    <div class="col-xs-6">
      <h1><%= link_to place.name, place_path(place) %></h1>
      (<%= place.avg_rating %>)<br />
      <i><%= place.address %></i><br /><br />
      <p><%= place.description %></p><br />
    </div>

    <% if place.photos.last.present? && place.photos.last.picture.present? %>
      <div class="col-xs-6">
      <%= image_tag place.photos.last.picture, :class => 'img-responsive img-rounded' %> 
      <br />
      </div>
    <% end %>

    <% if place.comments.present? %>
      <div class="col-xs-12">
        <blockquote>
          <% if place.comments.last.humanized_rating.present? %>
            <b><%= place.comments.last.humanized_rating %></b> -
          <% end %>
          <%= place.comments.last.message %>
          <small><%= place.comments.last.user.email %></small>
        </blockquote>
      </div>
    <% end %>
  </div>
<% end %>

<div class="pagination col-xs-10 col-xs-offset-1">
  <%= will_paginate @places, renderer: BootstrapPagination::Rails, previous_label: "Previous", next_label: "Next", inner_window: 2, outer_window: 0 %>
</div>